<%= simple_form_for @product do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%= f.input :description, as: :text %>
    </div>
  </div>

  <h3><%= @product.product_variations.model_name.human(count: 2) %></h3>

  <div id="product_variations">
    <%= f.simple_fields_for :product_variations do |ff| %>
      <%= render 'product_variation_fields', f: ff %>
    <% end %>
  </div>

  <br />

  <div class="form-actions">
    <%= link_to_add_association(
      t('buttons.add', record: @product.product_variations.model_name.human(count: 1)),
      f,
      :product_variations,
      :class => "btn btn-default"
    ) %>
    <%= f.button :submit, class: 'btn btn-primary ' %>
  </div>
<% end %>
