<div class="row nested-fields">
  <div class="col-lg-2 col-md-2 col-sm-3">
    <%= f.association :color %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-3">
    <%= f.association :size %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-3">
    <%= f.input :quantity %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-6">
    <br />

    <%= link_to_remove_association t('buttons.remove'), f  %>
  </div>
</div>
