<%=
  page_header(@products.model_name.human(count: 2)) do
    button_new(new_product_path)
  end
%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th class="col-md-1"><%= %></th>
    </tr>
  </thead>

  <tbody>
    <%- @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td>
          <%= link_to ' ', product_path(product), class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to ' ', edit_product_path(product), class: 'glyphicon glyphicon-edit' %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>
