<%=
  page_header(@product.model_name.human(count: 2)) do
    concat button_back(products_path)
    concat button_edit(edit_product_path(@product))
    concat button_destroy(product_path(@product))
  end
%>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <b><%= Product.human_attribute_name(:name) %>: </b>
    <%= @product.name %>
  </div>

  <div class="col-md-12 col-lg-12 col-sm-12">
    <b><%= Product.human_attribute_name(:description) %>: </b>
    <%= @product.description %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= ProductVariation.human_attribute_name(:color) %></th>
          <th><%= ProductVariation.human_attribute_name(:description) %></th>
          <th><%= ProductVariation.human_attribute_name(:quantity) %></th>
        </tr>
      </thead>

      <tbody>
        <%- @product.product_variations.each do |variation| %>
          <tr>
            <td><%= variation.color.name %></td>
            <td><%= variation.size.name %></td>
            <td><%= variation.quantity %></td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>
