<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-collapse collapse in" aria-expanded="true" style="">
        <%= main_menu %>
      </div>
    </div>
  </div>
</nav>
